@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3 mb-5">Home</h1>
</div>

<p class="display-6">
    Thank you for visiting my URL Shortener test task home page! My aim is to create an application that can shorten any URL and provide simple navigation. The application will consist of different views, such as the Login view, Short URLs Table view, Short URL Info view, and About view. Additionally, I highly value reliability and plan to implement unit tests to ensure my application performs with consistency.
</p>
